<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todoloo - Todo Form</title>
</head>
<body>
<form method="POST">
  <div class="mb-3">
    <label for="aufgabe" class="form-label">Aufgabe</label>
    <input type="text" class="form-control" id="aufgabe" name="aufgabe">
  </div>
  <div class="mb-3">
    <label for="deadline" class="form-label">Deadline</label>
    {# todo:  Datumsanzeige in HTML von US Format in DE Format umwandeln #}
    <input type="date" class="form-control" id="deadline" name="deadline">
  </div>
  <button type="submit" class="btn btn-primary">Abschicken</button>
</form>
</body>
</html>