<!--- https://wiki.selfhtml.org/wiki/HTML/Elemente/button  Buttons-->
{% include 'header.jinja' %}
<h1>Ausflug auswählen</h1>
<form action="idee-auswaehlen" method="post">
    <fieldset>
      <legend>Wähle deinen Ausflug</legend>
        {% for ausflug in ausfluege %}
      <div>
          <input type="radio" class="form-check-input" id="{{ ausflug.ausflugID }}" name="ausflugID" value="{{ ausflug.ausflugID }}" {% if loop.first %} checked  {% endif %}/>
        <label class="form-check-label for="{{ ausflug.ausflugID }}">{{ ausflug.ausflugID }} (CHF {{ ausflug.kosten }}) </label>
      </div>
        {% endfor %}
    </fieldset>
    <!Wenn man auf diese Buttons drückt, springt es zu ideen-anzeigen. Dies ist ersichtlich im Form Tag oben-->
    <br>
    <button type="submit" name="button" value="back" class="btn btn-dark">Zurück</button>
    <button type="submit" name="button" value="select" class="btn btn-dark">Auswählen</button>

</form>
{% include 'footer.jinja' %}