{% include 'header.jinja' %}
<h2>Deine bisherigen Ausflüge</h2>
<table class="table table-dark">
    <thead>
      <tr>
          <th>Datum</th>
          <th>Ausflug</th>
          <th>Idee</th>
          <th>Kosten</th>
      </tr>
      {% for buchung in buchungen %}
      <tr>
        <td>{{ buchung.date }}</td>
        <td>{{ buchung.ausflugID }}</td>
        <td>{{ buchung.idee }}</td>
          <td>{{ buchung.kosten }}</td>
      </tr>
      {% endfor %}
    </thead>
</table>
<form action="kriterien-erfassen" method="get">
    <button type="submit" name="button" value="select" class="btn btn-dark">neuer Ausflug</button>
    </form> <br>
<form action="zuruecksetzen" method="post">
    <button type="submit" name="button" value="select" class="btn btn-dark">Datenbank zurücksetzen</button>
    </form>
{% include 'footer.jinja' %}