<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bisherige Ausflüge</title>

</head>
<body>
<h1>Deine bisherigen Ausflüge</h1>
<table>
    <thead>
      <tr>
          <th>Datum</th>
          <th>Ausflug</th>
          <th>Idee</th>
          <th>Kosten</th>
      </tr>
      {% for buchung in buchungen %}
      <tr>
        <td>{{ buchung.date }}</td>
        <td>{{ buchung.ausflugID }}</td>
        <td>{{ buchung.idee }}</td>
          <td>{{ buchung.kosten }}</td>
      </tr>
      {% endfor %}
    </thead>
</table>
<form action="kriterien-erfassen" method="get">
    <button type="submit" name="button" value="select">neuer Ausflug</button>
    </form>
</body>
</html>