{% include 'header.jinja' %}
<h2>Idee auswählen</h2>
<form action="ausflug-buchen" method="post">
    <fieldset class="form-group">
      <legend>Wähle aus folgenden Ideen für den Ausflug {{ ausflugID }}</legend>
        {% for idee in ausflug.ideen %}
      <div>

        <input type="radio" class="form-check-input" id="{{ idee }}" name="idee" value="{{ idee }}" {% if loop.first %} checked  {% endif %}/>
        <label class="form-check-label" for="{{ idee }}">{{ idee }} </label>
        <input type="hidden" id="ausflugID" name="ausflugID" value="{{ ausflug.ausflugID }}">
        <input type="hidden" id="kosten" name="kosten" value="{{ ausflug.kosten }}">
      </div>
        {% endfor %}
    </fieldset>
    <br>
    <button type="submit" name="button" value="back" class="btn btn-dark">Zurück</button>
    <button type="submit" name="button" value="select"class="btn btn-dark">Auswählen</button>
</form>
{% include 'footer.jinja' %}