<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Budgeterfassung</title>
</head>
<body>
<h1>Was willst du heute machen?</h1>

  <!--  value = was auf der Datenbank, alles klein in csv / Label = was er anzeigt im Tool
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio
https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox-->

<p>Für diesen Monat stehen noch CHF {{ uebrig }} zur Verfügung</p>
<p>Bitte wähle alle deine gewünschten Kriterien für deinen nächsten Ausflug.</p>
<form action="kriterien-erfassen" method="post">
    <fieldset>
      <legend>Wähle die Kategorien</legend>
        {% for kriterium in kategorien %}
      <div>
        <input type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" />
        <label for="{{ kriterium.value }}">{{ kriterium.label }}</label>
      </div>
        {% endfor %}
    </fieldset>

    <fieldset>
        <legend>In welchem Preissegment willst du dich bewegen?</legend>
        {% for kriterium in preise %}
        <div>
            <input type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" {% if loop.first %} checked  {% endif %}/>
        <label for="{{ kriterium.value }}">{{ kriterium.label }}</label>
      </div>
        {% endfor %}
    </fieldset>

    <fieldset>
      <legend>Für wie viele Personen soll der Ausflug sein?</legend>
        {% for kriterium in personen %}
        <div>
            <input type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" {% if loop.first %} checked  {% endif %}/>
            <label for="{{ kriterium.value }}">{{ kriterium.label }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <button type="submit" name="button" value="select">Auswählen</button>
</form>

</body>
</html>