{% include 'header.jinja' %}
<h2>Was willst du heute machen?</h2>

  <!--  value = was auf der Datenbank, alles klein in csv / Label = was er anzeigt im Tool
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio
https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox-->

<p>Für diesen Monat stehen noch CHF {{ uebrig }} zur Verfügung</p>
<p>Bitte wähle alle deine gewünschten Kriterien für deinen nächsten Ausflug.</p>
<form action="ausflug-auswaehlen" method="post">
    <fieldset class="form-group">
      <legend>Wähle die Kategorien</legend>
        {% for kriterium in kategorien %}
      <div>
        <input class="form-check-input" type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" />
        <label class="form-check-label" for="{{ kriterium.value }}">{{ kriterium.label }}</label>
      </div>
        {% endfor %}
    </fieldset >

    <fieldset class="form-group">
        <legend>In welchem Preissegment willst du dich bewegen?</legend>
        {% for kriterium in preise %}
        <div>
            <input class="form-check-input" type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" {% if loop.first %} checked  {% endif %}/>
        <label class="form-check-label" for="{{ kriterium.value }}">{{ kriterium.label }}</label>
      </div>
        {% endfor %}
    </fieldset>

    <fieldset class="form-group">
      <legend>Für wie viele Personen soll der Ausflug sein?</legend>
        {% for kriterium in personen %}
        <div>
            <input class="form-check-input" type="{{ kriterium.type }}" id="{{ kriterium.value }}" name="{{ kriterium.kind }}" value="{{ kriterium.value }}" {% if loop.first %} checked  {% endif %}/>
            <label class="form-check-label" for="{{ kriterium.value }}">{{ kriterium.label }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <br>
    <button type="submit" name="button" value="select" class="btn btn-dark">Auswählen</button>
</form>
{% include 'footer.jinja' %}